.cardContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 3;
}

.swipe {
  position: absolute;
  width: 97%;
  height: 100%;
  will-change: transform;
}

.card {
  background-color: #fff;
  display: flex;
  border-radius: "15px";
  border: "1px solid";
}

.card:nth-child(1) {
  z-index: 3;
}

.card:nth-child(2) {
  z-index: 2;
  transform: translateY(20px);
}

.card:nth-child(3) {
  z-index: 1;
  transform: translateY(40px);
}